In [6]:
from PIL import Image

def compress_png(image_path, output_path):
    """
    Compresses a PNG image losslessly using Pillow.

    Args:
        image_path (str): Path to the input image file.
        output_path (str): Path to save the compressed image.
    """
    try:
        img = Image.open(image_path)
        img.save(output_path, "PNG", optimize=True)
        print(f"Image saved to {output_path} successfully.")
    except FileNotFoundError:
        print(f"Error: Image file not found at {image_path}")
    except Exception as e:
        print(f"An error occurred: {e}")

# Example usage
input_image = "shapes.png"
compressed_image = "compressed_image.png"
compress_png(input_image, compressed_image)

Image saved to compressed_image.png successfully.

In [11]:
"""Your Task
          Source: Utilize IMDb's advanced web search at https://www.imdb.com/search/title/ to access movie data.
          Filter: Filter all titles with a rating between 5 and 7.
          Format: For up to the first 25 titles, extract the necessary details: ID, title, year, and rating. The ID of the movie is the part of the URL after tt in the href attribute. For example, tt10078772. Organize the data into a JSON structure as follows:

          [
            { "id": "tt1234567", "title": "Movie 1", "year": "2021", "rating": "5.8" },
            { "id": "tt7654321", "title": "Movie 2", "year": "2019", "rating": "6.2" },
            // ... more titles
          ]
          Submit: Submit the JSON data in the text box below.""".replace("\n", " ").replace("  ", " ").replace("\t", " ").replace("\"", "'")

"Your Task      Source: Utilize IMDb's advanced web search at https://www.imdb.com/search/title/ to access movie data.      Filter: Filter all titles with a rating between 5 and 7.      Format: For up to the first 25 titles, extract the necessary details: ID, title, year, and rating. The ID of the movie is the part of the URL after tt in the href attribute. For example, tt10078772. Organize the data into a JSON structure as follows:      [       { 'id': 'tt1234567', 'title': 'Movie 1', 'year': '2021', 'rating': '5.8' },       { 'id': 'tt7654321', 'title': 'Movie 2', 'year': '2019', 'rating': '6.2' },       // ... more titles      ]      Submit: Submit the JSON data in the text box below."

In [39]:
import pandas as pd
import requests
import re
import zipfile

csv_data = {}
def ga1_q12(question, files):
    symbols = question.split(' OR ')
    symbols[0] = symbols[0][-1]
    symbols[-1] = symbols[-1][0]
    with zipfile.ZipFile("q-unicode-data.zip", 'r') as zip_ref:
        print("Files in ZIP:", zip_ref.namelist())
        decode = ["cp1252","UTF-8","UTF-16"]
        for i,file_name in enumerate(zip_ref.namelist()):
            print(file_name)
            if file_name.endswith('.csv') or file_name.endswith('.txt'):
                with zip_ref.open(file_name) as f:
                    csv_content = f.read().decode(decode[i])
                    df = pd.read_csv(io.StringIO(csv_content))
                    csv_data[file_name] = df

In [40]:
ga1_q12("Download and process the files in  which contains three files with different encodings: data1.csv: CSV file encoded in CP-1252 data2.csv: CSV file encoded in UTF-8 data3.txt: Tab-separated file encoded in UTF-16 Each file has 2 columns: symbol and value. Sum up all the values where the symbol matches ‘ OR ‡ OR œ across all three files.What is the sum of all values associated with these symbols?","file")

Files in ZIP: ['data1.csv', 'data2.csv', 'data3.txt']
data1.csv
data2.csv
data3.txt

In [41]:
csv_data

{'data1.csv':     symbol  value
 0        ‘      0
 1        ‡      1
 2        œ      2
 3        „      3
 4        …      4
 ..     ...    ...
 495      ‚    495
 496      ‘    496
 497      œ    497
 498      ›    498
 499      ˆ    499

 [500 rows x 2 columns],
 'data2.csv':     symbol  value
 0        †      0
 1        ‘      1
 2        „      2
 3        ‡      3
 4        —      4
 ..     ...    ...
 495      ˜    495
 496      ‰    496
 497      ˆ    497
 498      †    498
 499      “    499

 [500 rows x 2 columns],
 'data3.txt':     symbol\tvalue
 0            ˜\t0
 1            ‰\t1
 2            ‚\t2
 3            Š\t3
 4            ˜\t4
 ..            ...
 495        —\t495
 496        €\t496
 497        “\t497
 498        ’\t498
 499        …\t499

 [500 rows x 1 columns]}

In [32]:
for i in csv_data:
    curr_data = csv_data[i]
    curr_data = curr_data[curr_data['symbol'].str.contains('|'.join(['‘,‡,œ']))]
    print(curr_data)

Empty DataFrame
Columns: [symbol, value]
Index: []
Empty DataFrame
Columns: [symbol, value]
Index: []

In [43]:
daa = csv_data["data1.csv"]
daa

    symbol  value
0        ‘      0
1        ‡      1
2        œ      2
3        „      3
4        …      4
..     ...    ...
495      ‚    495
496      ‘    496
497      œ    497
498      ›    498
499      ˆ    499

[500 rows x 2 columns]

In [48]:
daa[(daa["symbol"] == "‘") | (daa["symbol"] == "‡") | (daa["symbol"] == "œ")]["value"].sum()

np.int64(15848)